* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Stop Zoom On Input Focus */

:root {
    touch-action: pan-x pan-y;
    height: 100%
}

.col-md-9 {
    padding: 0;
}

.col-md-3 {
    padding-right: 0;
}